.trade-history th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
