<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :kyc_status %>
    <%= f.text_field :kyc_status, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
