<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <div style="overflow-x:auto;">
    <a href="#">How it works</a>
    <a href="#">FAQ</a>
    <a href="#">Terms and Conditions</a>
  </div>
  </div>
</div> -->

<div class="footer">
  <div class="contain">
  <div class="col">

    <ul>
      <li>About</li>

    </ul>
  </div>
  <div class="col">

    <ul>

      <li>FAQ</li>

    </ul>
  </div>
  <div class="col">

    <ul>
      <li>How it works</li>

    </ul>
  </div>
  <div class="col">

    <ul>
      <li>Terms and Conditions</li>

    </ul>
  </div>
  <div class="col">

    <ul>
      <li>Contact us</li>

    </ul>
  </div>
  <div class="col social">

    <ul>
      <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
      <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
      <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
    </ul>
  </div>
<div class="clearfix"></div>
</div>
</div>
