<div class="container">
  <div class="row" >
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="form-edit">


<div class="et_pb_text_inner">
          <h2>AML / KYC Policy</h2>
<p><strong>Introduction</strong></p>
<p>Coinoutlet.co.uk’s Know Your Client (“KYC”) and Anti-Money Laundering (“AML”) policies (hereinafter the “AML/KYC Policy”) are designed to prevent and mitigate possible risks of Coinoutlet.co.uk being involved in any kind of illegal or sanctioned activities.</p>
<p>Both international and local regulations require Coinoutlet.co.uk to implement effective internal controls, procedures, and mechanisms to prevent and avert money laundering, terrorist financing, drug and human trafficking, proliferation of weapons of mass destruction, corruption, and bribery and to take action if any suspicious activity is detected involving its Users.</p>
<p>AML/KYC Policy covers the following matters:</p>
<ol>
<li>Client On-Boarding and Verification Procedures</li>
<li>Compliance Officer</li>
<li>Transaction Monitoring</li>
<li>Risk Assessment</li>
<li>Reporting</li>
</ol>
<p><strong>1. Verification procedures<br>
</strong></p>
<p>One of the international standards for preventing illegal activity relates to Due Diligence on customers. Accordingly, Coinoutlet.co.uk has established its own verification procedures within the standards of AML and KYC frameworks.</p>
<p><strong>1.1. Client On-Boarding and Verification Procedures</strong></p>
<p>Coinoutlet.co.uk’s identity verification procedure requires the User to provide Coinoutlet.co.uk with reliable, independent source documents, data, or information (e.g. national identification card, international passport, bank statement, utility bill, selfie with handwritten note, etc). For such purposes, Coinoutlet.co.uk reserves the right to collect Users’ identification information and for AML/KYC Policy purposes.</p>
<p>Coinoutlet.co.uk will take steps to confirm the authenticity of documents and information provided by Users. All legal methods for verifying identification information may be used and Coinoutlet.co.uk reserves the right to investigate certain Users who have been determined to be risky or suspicious.</p>
<p>Coinoutlet.co.uk reserves the right to verify Users’ identities on an ongoing basis, especially when their identification information has been changed or their activity seemed to be suspicious (unusual for a particular User). In addition, Coinoutlet.co.uk reserves the right to request current documentation from all Users, even if they have satisfied identity verification requirements in the past.</p>
<p>Users’ identification information will be collected, stored, shared, and protected strictly in accordance with Coinoutlet.co.uk’s Privacy Policy and related regulations.</p>
<p>The verification of Users’ identities helps Coinoutlet.co.uk to reduce potential legal liabilities relating to a situation where its Services could be used to conduct illegal activity.</p>
<p><strong>2. Compliance Officer</strong></p>
<p>The Compliance Officer is the person, duly authorised by Coinoutlet.co.uk, whose duty is to ensure the effective implementation and enforcement of Coinoutlet.co.uk’s AML/KYC Policy. It is the Compliance Officer’s responsibility to supervise all aspects of Coinoutlet.co.uk’s anti-money laundering and counter-terrorist financing policies, including but not limited to:</p>
<p>a. Collecting Users’ identification information<br>
b. Establishing and updating internal policies and procedures for the completion, review, submission, and retention of all reports and records required under applicable laws and regulations<br>
c. Monitoring transactions and investigating any significant deviations from normal activity d. Implementing a records management system for appropriate storage and retrieval of documents, files, forms, and logs<br>
e. Updating risk assessment regularly<br>
f. Providing law enforcement with information as required under applicable laws and regulations.</p>
<p>The Compliance Officer is entitled to interact with any officials or law enforcement instigation that are involved in the prevention of money laundering, terrorist financing, and other illegal activities</p>
<p><strong>3. Transaction Monitoring</strong></p>
<p>Users are known not only by verifying their identities but also by analyzing their transactional patterns. Accordingly, Coinoutlet.co.uk relies on data analysis as a risk assessment and suspicious activity detection tool. Coinoutlet.co.uk performs a variety of compliance-related tasks, including capturing data, filtering, record-keeping, investigation management, and reporting. System functionalities may include but are not limited:</p>
<p>1) Daily or regular checks of Users against recognized “black lists” (e.g. OFAC); aggregating transfers by multiple data points; placing Users on watch and service denial lists; opening cases for investigations where needed; sending internal communications and filling out statutory reports, if applicable; etc.</p>
<p>2) Case and document management.</p>
<p>With regard to the AML/KYC Policy, Coinoutlet.co.uk will monitor transactions and it reserves the right to:</p>
<ul>
<li>ensure that transactions of a suspicious nature are reported to the proper law enforcement through the Compliance Officer;</li>
<li>request the User to provide any additional information and documents required in case of suspicious transactions;</li>
<li>suspend or terminate a User’s Account when Coinoutlet.co.uk has reasonable suspicion that a User engaged in illegal activity.</li>
</ul>
<p>The above list is not exhaustive and the Compliance Officer will monitor Users’ transactions on a regular basis in order to define whether such transactions are suspicious and thereforr to be reported, or are to be treated as bona fide<em>.</em></p>
<p><strong>4. Risk Assessment</strong></p>
<p>Coinoutlet.co.uk, in accordance with international requirements, has adopted a risk-based approach to combating money laundering and terrorist financing. By adopting a risk-based approach, Coinoutlet.co.uk is able to ensure that measures to prevent or mitigate money laundering and terrorist financing are commensurate to the identified risks. This will allow resources to be allocated in the most efficient ways. The principle is that resources should be directed in accordance with priorities so that the greatest risks receive the highest attention.</p>
<p>Coinoutlet.co.uk reserves the right to apply multiple methodologies as part of its ongoing risk assessment processes, and reserves the right to change, modify, or terminate certain risk assessment methodologies at any time without prior notification to Users.</p>
<p><strong>5. Reporting</strong></p>
<p>As a licenced and regulated entity, Coinoutlet.co.uk is legally required to report account or trading activity that it deems to be suspicious to regulatory organisations. Coinoutlet.co.uk has no legal requirement to inform a User that a User’s account or trading activity is being reported to a regulatory organisation for review and, if warranted, additional activity. Depending on the nature of the account or trading activity being reviewed by regulatory organisations, the regulatory organisations may be required under local, national, or international laws to take further action that could result in punitive measures against the User including but not limited to account closure, legal investigations, sanctions, civil proceedings, criminal proceedings, monetary penalties, and possible incarceration. &nbsp;Users can help mitigate the possibility of these occurrences by adhering to best international practices related to AML/ KYC conformity and Coinoutlet.co.uk’s Terms and Conditions as listed at Coinoutlet.co.uk. Accordingly, Users are encouraged and requested to regularly familiarise themselves with Coinoutlet.co.uk’s Terms and Conditions and any modifications thereto.</p>
        </div>

</div>
</div>
</div>
</div>
