<%= form_for(@buy) do |f| %>
  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>


