.form-buy {
  background: #fdfdfd;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(141,151,158,0.33);
  font-family: 'Nunito', sans-serif;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid #000428;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    color: white;
    background-image: LINEAR-GRADIENT(135DEG, #F4873D, #EC165A);
    padding: 3px 8px 3px 8px;
    border-radius: 5px;
  }
  .btn:hover{
    background-image: LINEAR-GRADIENT(135DEG, #EC165A, #EC165A);
  }
  .defaultQuantity{
    border-radius: 6px;
  }
}

.search_categories{
  font-size: 16px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  // position: relative;
  overflow:hidden;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.search_categories .select{
  width: 100%;
}

.search_categories .select select{
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 100%;
  // position: relative;
  z-index: 10;
  font-size: 1em;
}

.search_categories .select{
  width: 100%;
  background:url('arrow.png') no-repeat;
  background-position:80% center;
}

// .cost_field{
//   width: 500px;
// }


// input[type=text] {
//    width: 300px;
// }

// input {
//   width: 100%;
// }
