.form-edit {
  background: #fdfdfd;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(141,151,158,0.33);
  font-family: 'Nunito', sans-serif;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid #199087;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

// a.123 {
//   display: block;
//     position: relative;
//     top: -250px;
//     visibility: hidden;

// }
