/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */
* { box-sizing: border-box; }

body { font-family: 'Nunito', sans-serif; }

.carousel {
  background: #fbfbfb;;
}

.carousel-cell {
  width: 28%;
  height: 430px;
  /*margin-right: 10px;*/
  margin: 50px 30px 50px 0;

  /*background: white;*/
  /*border: 2px solid #66dac7;*/
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  /*background-image: radial-gradient(#004e92, #000428);*/
  /*background-color: #2e4158;*/
  background: #fdfdfd;
  color: black;
  box-shadow: 0 0 30px rgba(141,151,158,0.33);
  input {
  text-align: center;
  border: 1px solid grey;
  }

  /*counter-increment: gallery-cell;*/

}
@media screen and ( max-width: 768px ) {
  /* half-width cells for larger devices */
  .carousel-cell { width: 80%; }
}
/*
.carousel-cell.eth {
  background-image: radial-gradient(#004e92, #000428);
}

.carousel-cell.eos {
  background-image: radial-gradient(#004e92, #000428);
}*/


.carousel-cell.size-180 { width: 180px; }
.carousel-cell.size-large { width: 75%; }

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /*content: counter(gallery-cell);*/
  line-height: 200px;
  font-size: 80px;
  color: white;
  background-color: #66dac7;
}
