/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 28%;
  height: 300px;
  margin-right: 10px;
  background: transparent;
  border: 2px solid grey;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  /*counter-increment: gallery-cell;*/
}

.carousel-cell.size-180 { width: 180px; }
.carousel-cell.size-large { width: 75%; }

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /*content: counter(gallery-cell);*/
  line-height: 200px;
  font-size: 80px;
  color: white;
}
